<div class="bill">
    <div class="row">
        <div class="col-md-10">
            <a href="#" (click)="toggle($event, index + '-bill')">{{item.Title}}</a>
        </div>
        <div class="col-md-2">
            <div class="pull-right">
                <img src="../../content/images/icons/dragndrop.png" height="23" [style.visibility]="item.hoverVisible ? 'visible' : 'hidden'">
                <span>{{item.Type}}</span>
            </div>
        </div>
    </div>
    <div id="{{index + '-bill'}}" class="initially-hidden">
        <div class="row nopadding">
            <div class="form-group col-md-5 nopadding">
                <label>Title</label>
                <input type="text" class="form-control undraggable" [(ngModel)]="item.Title" />
            </div>
            <div class="form-group col-md-1">
                <label>&nbsp;</label>
                <img class="form-control undraggable nopadding noborder" height="10" src="/content/images/icons/CPD arrow.png" />
            </div>
            <div class="form-group col-md-5 nopadding">
                <label>CPD</label>
                <select2 [id]="index + 'bill-title-cpd'" [cssClass]="'form-control undraggable'" [enableSearch]="true" [multiple]="true" [disableMultipleSelection]="true" [data]="billTitleOptions" (selected)="titleSelect($event)"></select2>
            </div>
        </div>
        <div class="row nopadding">
            <div class="form-group col-md-12 nopadding">
                <div class="row nopadding">
                    <input type="radio" [(ngModel)]="item.Indication" id="{{index + '-option1'}}" value="Bill's committee stage indicated for current sitting week" />
                    <span>Bill's committee stage indicated for current sitting week</span>
                </div>
                <div class="row nopadding">
                    <input type="radio" [(ngModel)]="item.Indication" id="{{index + '-option2'}}" name="Bill's committee stage indicated for following sitting week" value="Bill's committee stage indicated for following sitting week" />
                    <span>Bill's committee stage indicated for following sitting week</span>
                </div>
                <div class="row nopadding">
                    <input type="radio" [(ngModel)]="item.Indication" id="{{index + '-option3'}}" name="Bill contains majority amendments" value="Bill contains majority amendments" />
                    <span>Bill contains majority amendments</span>
                </div>
                <div class="row nopadding">
                    <input type="radio" [(ngModel)]="item.Indication" id="{{index + '-option4'}}" name="Item for consideration during extended" value="Item for consideration during extended" />
                    <span>Item for consideration during extended</span>
                </div>
                <div class="row nopadding">
                    <input type="radio" [(ngModel)]="item.Indication" id="{{index + '-option5'}}" name="Blank (stage not showen on Order Paper)" value="Blank (stage not showen on Order Paper)" />
                    <span>Blank (stage not showen on Order Paper)</span>
                </div>
            </div>
        </div>
        <div class="row nopadding">
            <div class="form-group col-md-5 nopadding">
                <label>Times of debate (Speeches)</label>
                <input type="text" class="form-control undraggable" [(ngModel)]="item.Speeches" />
            </div>
            <div class="form-group col-md-5 nopadding">
                <label>Latest details</label>
                <input type="text" multiple class="form-control undraggable" [(ngModel)]="item.LatestEvent" />
            </div>
        </div>
    </div>
</div>